/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #888888;
  font-weight: 300;
}

/* Utilities */
.container {
  max-width: 80%;
  margin: 0 auto;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pr-15 {
  padding-right: 15px;
}
.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-12 {
  margin-top: 12px;
}

.pr-15 {
  padding-right: 16px;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.br-10 {
  border-radius: 10px;
}

/* Debug element */
.debug-box {
  height: 50px;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.light-blue {
  background-color: #abcfe7;
  padding-left: 16px;
}

/* Header */
header a {
  display: inline-block;
}

header img {
  width: 165px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

nav ul li > a {
  text-transform: uppercase;
  text-decoration: none;
  color: #888888;
  font-size: 15px;
}

nav ul li > a:hover {
  color: #000;
}

/* Hero */

section.hero .banner {
  width: 100%;
  height: 470px;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-size: cover;
}

section.hero .filter {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 470px;
  position: relative;
}
section.hero .filter .text-banner {
  position: absolute;
  bottom: 57px;
  padding-left: 50px;
  width: 56%;
  color: #fff;
}

section.hero .filter .text-banner .title-banner {
  font-size: 28px;
  font-weight: 400;
}

/* Content */
section.row.clearfix {
  background-color: #0086ff;
}

section.title {
  background-color: #abcfe7;
}

div.col {
  float: left;
}

.col.small {
  width: 20%;
}

.col.large {
  width: 60%;
}
/* Footer */

footer {
  background-color: #8801fe;
}
